<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample Gateway</title>
</head>
<body>
Hi! Get Test.
<h1>message source i18n with thymeleaf</h1>
<p th:text="#{home.sample(${name})}"></p>


<h1>Expression Utility</h1>
<div th:text="${#locale}">지역</div>
<span th:text="${#strings.append('날짜 ', today)}"></span>

<h1>Selection Variable Expression</h1>
<div th:object="${user}"}>
    <div>
        <span>이름: </span>
        <span th:text="*{name}"></span>
    </div>
    <div>
        <span>나이: </span>
        <span th:text="*{age}"></span>
    </div>
</div>
그냥 단순히 아래와 같이 사용할 수도 있음(객체 접근)
<div th:text="${user.age}"></div>
<div th:text="${user.getAge()}"></div>

<h1>URL 접근 - QueryString</h1>
<a href="another.html" th:href="@{/another(id=42)}">URL 접근 확인</a>
//href 자체는 굳이 안써줘도 되는듯 하다.

<h1>URL 접근 - Path Variable</h1>
<a href="another.html" th:href="@{/another/123}">URL 접근 확인</a>


</body>
</html>